body {
    background-color: rgb(255, 255, 255);
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    margin-top: 10vh;
}

.container {
    align-items: center;
    padding-left: 225px;
    padding-right: 225px;
}

h1{
    font-size: 48px;
    align-items: center;
    text-align: center;
}

#emailHelp {
    display: none;
}

.dashboard{
    width: 75%;
    margin: auto;
}

.footer{
    align-items: center;
}

.copyRight{
    font-size: 12px;
    margin-bottom: 2rem;
    color: hsl(0, 0%, 59%);
}

#footer__social {
    font-size: 10px;
   
}

.socials{
    margin: 0;
    padding: 0;
    padding-top: 3px;
    margin-left: 1rem;
    font-size: 16px;
    

    text-align: center;
    height: 34px;
    width: 34px;
    border: 1px solid hsl(223, 100%, 88%);
    border-radius: 50%;
}

.socials:hover{
    cursor: pointer;
}

.fa-facebook, .fa-twitter, .fa-instagram {
    color: #0d6efd;
}
.svg-inline--fa{
    vertical-align: middle;
}

.title__left{
    color:hsl(0, 0%, 59%);
}

.title__right{
    color:hsl(209, 33%, 12%);
    font-weight: 700;

}

.main__input{
    width: 74%;
    height: 4.5rem;
    
}

#inputEmail{
    border-radius: 50px;
    padding-left: 2rem;
    
    font-weight: 300;
}

#inputEmail:focus{
   box-shadow: none;
}

#inputEmail::placeholder {
    color: hsl(223, 100%, 88%);
}


#notiBtn {
    width: 300px;
    margin-left: 15px;
    border-radius: 50px;
    font-weight: 600;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: none;
}

#notiBtn:hover{
    background-color: hsl(223, 85%, 69%);
}


#emailWrong {

    display: none; 
    position: absolute;
    left: 0;
    padding-left: 27rem;
    margin-top: 4rem;
    text-align: left;
    font-style: italic;

    font-size: 12px;
    font-weight: 300;
    color:hsl(354, 100%, 66%);

}

