body {
    background-color: rgb(255, 255, 255);
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    margin-top: 10vh;
}

.container {
    align-items: center;
}

#emailHelp {
    display: none;
}

.dashboard{
    width: 75%;
    margin: auto;
}

.footer{
    font-size: 11px; 
    align-items: center;
}